bin/
obj/

.vs/
.vscode/
.idea/

TestResults/
coverage/

artifacts/

*.user
*.suo
*.userosscache
*.sln.docstates

*.nupkg
*.snupkg

node_modules/

.DS_Store

docs/api-sample/
src/LinkedIn.JobScraper.Web/bin\\Debug/
